In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [18]:
california_housing = pd.read_csv('CaliforniaHousing/cal_housing.data')

In [19]:
norm_cols = ['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population', 'households', 
             'medianIncome']

In [20]:
all_cols = ['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population', 'households', 
             'medianIncome', 'medianHouseValue']

In [21]:
california_housing = california_housing[all_cols]

In [22]:
california_housing.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [23]:
california_housing[norm_cols] = california_housing[norm_cols].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [24]:
california_housing.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,0.784314,0.022331,0.019863,0.008941,0.020556,0.539668,452600.0
1,0.392157,0.180503,0.171477,0.067210,0.186976,0.538027,358500.0
2,1.000000,0.037260,0.029330,0.013818,0.028943,0.466028,352100.0
3,1.000000,0.032352,0.036313,0.015555,0.035849,0.354699,341300.0
4,1.000000,0.041330,0.043296,0.015752,0.042427,0.230776,342200.0

In [11]:
y_val = california_housing['medianHouseValue']

In [25]:
x_data = california_housing.drop('medianHouseValue', axis=1)

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train, y_train, x_test, y_test = train_test_split(x_data, y_val, test_size=0.3, random_state=101)

In [30]:
from sklearn.preprocessing import MinMaxScaler